<div class ="Fin">
    <h1>¡Preguntados completado!</h1>
    <p>¡Se acabaron las preguntas!</p>
    <div class="btn-group" role="group" aria-label="Basic example">
        <h3>@Juego.username  |  @Juego.puntajeActual </h3>
        <button type="button" class="btn btn-primary"><a href='@Url.Action("ConfigurarJuego")'>Restart</a></button>
    </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>