* {
  margin: 0;
  padding: 0;
}

.ruleta-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.ruleta {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 5px solid #000;
  overflow: hidden;
}

.seccion {
  position: absolute;
  width: 50%;
  height: 50%;
  background-color: #FFD700;
  transform-origin: 100% 100%;
  clip-path: polygon(0 0, 100% 0, 100% 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-weight: bold;
}

.seccion:nth-child(even) {
  background-color: #FF4500;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
}

#resultado {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
}

.ConfigurarJuego {
  background-image: url("../images/Fondo1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.Index {
  width: 100%;
  height: 900px;
  background-image: url(../images/fondoIndex.png);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 2px 41px -1px rgba(0, 0, 0, 1);
}

.Index a {
  background-color: rgb(156, 0, 156);
  color: #fff;
  font-weight: 900;
  text-decoration: none;
  border-radius: 25px;
  padding: 2%;
  height: 2.5%;
  display: flex;
  align-items: center;
  font-size: 2em;
  margin-top: 35%;
  cursor: pointer;
    animation: agrandarAchicar 2s infinite ease-in-out;
}

@keyframes agrandarAchicar {
    0%, 100% {
        transform: scale(1.3);
    }
    50% {
        transform: scale(1.5);
    }
}
@keyframes agrandar {
  50% {
      transform: scale(1.05);
  }
}

.Index a:hover {
  background-color: rgb(141, 4, 141);
  box-shadow: 3px 3px rgba(0, 0, 0, 0.527);
}

footer {
  background-color: #000;
  margin: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}

/* ConfigurarJuego */
.Configurar {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/fondoConfigurar.webp);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
  width: 100%;
}

.formConf {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 15px;
}

form h1 {
  font-weight: 900;
  padding: 5%;
}

form div {
  width: 80%;
  font-weight: 900;
  display: flex;
  align-items: center;
}

form div label {
  margin: 1%;
  margin-right: 6%;
  font-size: 2em;
}

form div input {
  border-radius: 5px;
  border: 1px solid gray;
  width: 20%;
  height: 38px;
}

form img {
  width: 11%;
  margin-left: 88%;
  padding: 2%;
}

form .btn-group {
  border-radius: 15px;
}

form .btn-group button {
  background-color: rgb(240, 86, 240);
  color: white;
}

form .btn-group button:hover {
  background-color: rgb(212, 70, 212);
  font-weight: 500;
}

form .btn-group button:first-child {
  background-color: rgb(172, 19, 172);
  font-weight: 400;
}

form .btn-group button:first-child:hover {
  background-color: rgb(146, 15, 146);
  font-weight: 500;
}

/* Juego */
.card-img-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  width: 80%;
  flex-direction: column;
  height: 600px;
}

.datos {
  display: flex;
  align-items: center;
  width: 40%;
  margin-bottom: 3%;
}

.datos h3 {
  margin-right: 1%;
  font-weight: 900;
}

.datos h5 {
  font-weight: 600;
  margin-top: 1%;
}

.container {
  display: flex;
  justify-content: center;
}

.Pregunta {
  padding: 3%;
  width: 50%;
  border-radius: 15px;
  border: 1px solid gray;
  box-shadow: -1px 1px 33px rgba(0, 0, 0, 0.75);
}

.Pregunta h2 {
  color: rgb(56, 56, 56);
  text-align: center;
}

.Pregunta h6 {
  margin-bottom: 4%;
}

.container form{
  margin-left: 14%;
}
.row-cols-2{
  display: flex;
  justify-content: center;
  margin: 5%;
  background-color: rgba(0, 0, 0, 0);
  width: 1650px;
}

.row-cols-2 .col label {
  font-size: 1.2em;
}

.row-cols-2 .col button {
  min-width: 25vw;
  background-color: white;
  padding: 1%;
  border-radius: 15px;
  margin: 10px;
  margin-bottom:40px;
  font-weight: 300;
  border: 1px solid gray;
  box-shadow: -1px 1px 33px rgba(0, 0, 0, 0.418);
  font-size: 1.2em;
}
.row-cols-2 .col button:hover{
  background-color: rgb(235, 235, 235);
  animation: agrandar 1s infinite ease-in-out;


}

/* Respuesta */
.Respuesta {
  width: 100%;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Correcta{
  box-shadow: inset -1px 0px 158px 28px rgba(0,158,11,1);
  width: 100%;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../images/Incorrecta.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  h1{
    font-weight: 900;
    color: #00960c;
    font-size: 7em;
    text-shadow:4px 4px 7px rgb(21, 255, 0);
  }




  a{
    padding: 2%;
    border-radius: 25px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    font-weight: 700;
    font-size: 2em;
    background-color: #007e1b;
    border: none;
    margin: 2%;
    animation: agrandarAchicar 2s infinite ease-in-out;

  }
}


.Incorrecta {
  box-shadow: inset -1px 0px 158px 28px rgba(189, 10, 10, 1);
  width: 100%;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../images/Incorrecta.jpg);
  background-size: cover;
}

.Incorrecta h1 {
  font-weight: 900;
  color: #f35e28;
  font-size: 7em;
  text-shadow: 4px 4px 7px red;
}

.Incorrecta a {
  padding: 1%;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  font-weight: 700;
  font-size: 2em;
  background-color: #a02d04;
  border: none;
  margin: 2%;
  animation: agrandarAchicar 2s infinite ease-in-out;

}
/*Inicio Fin */
.Fin{
  width: 100%;
  height: 900px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-shadow: inset 0px 0px 178px 66px rgba(199,2,199,1);
}
.Fin p{
  font-weight: bold;
  font-size: 1.3em;
}
.Fin h1{
  font-weight: 900;
  font-size: 4em;
  padding-top: 1%;
}
.Fin button{  
  margin-left: 2%;
  background-color: blueviolet;
  border: white;

}
.Fin a:hover{  
  background-color: rgb(69, 21, 114);

}

.Fin h3{
  padding-right: 2%;
  padding: 1%;
  font-size: 2em;
  color: #fff;
}
.Fin img{
  width: 40%;
}
.Fin a{
background-color: rgb(156, 0, 156);
color: #fff;
font-weight: 900;
text-decoration: none;
border-radius: 25px;
padding: 1.5%;
height: 2.5%;
display: flex;
align-items: center;
font-size: 2em;
cursor: pointer;
  animation: agrandarAchicar 2s infinite ease-in-out;
  margin: 2%;
}
/*Fin Fin */